.BurgerBuilder {
  text-align: center;
  margin-right: 100px;
}
.Cost {
  font-size: 25px;
}
.bottom-bun {
  transform: rotate(180deg);
}
.BurgerBuilder2 {
  text-align: center;

}
.container {
  display: flex;
  justify-content: center;
}
